@model Author


<form asp-action="CreateAuthor" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <button type="submit">Save Author</button>
</form>
