@{
    ViewData["Title"] = "Librarian Dashboard";
}

<h2>Librarian Dashboard</h2>

<p>Welcome, Librarian! Here you can manage books, reservations, and loans.</p>

<a asp-controller="Dashboard" asp-action="ListBooks" class="btn btn-primary">View Books</a>

<a asp-controller="Dashboard" asp-action="ListCategories" class="btn btn-primary">Categorized Books</a>


<a asp-controller="Dashboard" asp-action="Create" class="btn btn-primary">Add Books</a>

<a asp-controller="Dashboard" asp-action="CreateGenre" class="btn btn-primary">Add Genres</a>

<a asp-controller="Dashboard" asp-action="CreateAuthor" class="btn btn-primary">Add Authors</a>

<a asp-controller="Dashboard" asp-action="CreateCategory" class="btn btn-primary">Add Category</a>

<a asp-controller="Dashboard" asp-action="ListReviews" class="btn btn-primary">Reviews Of Books</a>


